{% include 'blog/head.html' %}
{% include 'blog/header.html' %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- CSS only -->
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <br><br>
  <div class="container">
  <body>
    {% block body %}

    {% if messages %}
    <div class="alert alert-primary" role="alert">
      <strong>Messages: </strong>
        {% for message in messages %}
        {{message}}
        {% endfor %}
    </div>
    {% endif %}
  </div>

    <div>
      {% comment %} <strong>Other options</strong> {% endcomment %}
      <ul>
        {% if user.is_authenticated %}{% comment %}
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'account_email' %}">Change E-mail</a></li>
            <li class="breadcrumb-item"><a href="{% url 'account_logout' %}">Sign Out</a></li>
          </ol>
        </nav>{% endcomment %}
        </ul>
        </div>
    </div>
        {% else %}
  {% comment %} <div>    
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'account_login' %}">Sign In</a></li>
        <li class="breadcrumb-item"><a href="{% url 'account_signup' %}">Sign Up</a></li>
      </ol>
      </nav>
    </div> {% endcomment %}
        {% endif %}
      </ul>
    
	<div class="container">
  
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  
	</div>
  </body>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>

{% include 'blog/scripts.html' %}
{% include 'blog/footer.html' %}
