{% extends 'blog/base.html' %}
{% block title %}Login | Supreme Security{% endblock %}
{% load crispy_forms_tags %}
{% load static %}



{% block content %}


<div class="container mt-5">
    <form method="POST" class="sign">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            {{ form|crispy }}     
        </fieldset>
        <div class="form-group">
            <button class="btn btn-secondary" type="submit">Login</button>
            <small class="text-muted ml-2">
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
            </small>
        </div>
    </form>
    <div class="border-top pt-3 mb-5">
        <small class="text-muted">Do you need an account?<a class="ml-2" href="{% url 'register' %}"><strong>Sign Up Now</strong></a>
        </small><br>
        <small class="text-muted">Or log in with:<a class="ml-2" href="{% url 'social:begin' 'google-oauth2' %}"><strong>Google</strong></a>
        </small>
    </div>
</div>


{% endblock content %}