{% extends 'blog/base.html' %}
{% block title %}Register | Supreme Security{% endblock %}
{% load crispy_forms_tags %}
{% load static %}



{% block content %}

    <div class="container mt-5">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}     
            </fieldset>
            <div class="form-group">
                <button class="btn btn-secondary" type="submit">Sign up</button>
            </div>
        </form>
        <div class="border-top pt-3 mb-2">
            <small class="text-muted">Already have an account?<a class="ml-2" href="{% url 'login' %}"><strong>Sign In</strong></a></small>
        </div>
    </div>

{% endblock content %}